extends ../layout.pug

block header
  h1(class="mb-3")=t('views.labels.new.header')

block content
  div(class="row")
    div(class="col-4")
      form(action=reverse('labels') method="post")
        +input('text', 'name', t('views.labels.new.name'), errors, label)
        +submitButton(t('views.labels.new.submit'))