extends ../layout.pug

block header
  h1(class="mb-3")=t('views.statuses.edit.header')

block content
  div(class="row")
    div(class="col-4")
      form(action=reverse('updateStatus', { id: status.id }) method="post")
        +input('text', 'name', t('views.statuses.edit.name'), errors, status)
        div(class="form-floating mb-3")
          input(type="hidden" name="_method" value="patch")
        +submitButton(t('views.statuses.edit.submit'))